services:
  orderservice.api:
    image: orderserviceapi
    build:
      context: .
      dockerfile: OrderService.API/Dockerfile
    environment:
     - MONGODB_HOST=ecommerce.aks.orderdb
     - MONGODB_PORT=27017
     - MONGODB_DATABASE=OrdersDatabase
     - UsersMicroserviceName=localhost
     - UsersMicroservicePort=5050
    ports:
     - "7000:8080"
    networks:
     - ecommerce.aks.network
     
networks:
  ecommerce.aks.network:
    name: ecommerce.aks.network
    driver: bridge