services:
  ecomm.net9.aks.pg.userdb:
    image: postgres
    container_name: ecomm.net9.aks.pg.userdb
    hostname: ecomm.net9.aks.pg.userdb
    restart: always
    ports:
      - "5433:5432"
    volumes:
      - ecomm.net9.aks.pg.userdb.storage:/var/lib/postgresql/data
      - ../eCommerce.UserService/UserService.Db.Script:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=eCommerceUsers
    networks:
      - ecomm.net9.aks.pg.userdb.network

  ecomm.net9.aks.mysql.productdb:
    image: mysql:latest
    container_name: ecomm.net9.aks.mysql.productdb
    hostname: ecomm.net9.aks.mysql.productdb
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: mysql-secret-pw
      MYSQL_DATABASE: eCommerceProducts
      MYSQL_USER: mysqluser
      MYSQL_PASSWORD: mysqlpassword
    ports:
      - 3306:3306
    volumes:
      - ecomm.net9.aks.mysql.productdb.storage:/var/lib/mysql
      - ../eCommerce.ProductService/ProductService.Db.Script:/docker-entrypoint-initdb.d
    networks:
      - ecomm.net9.aks.mysql.productdb.network

  ecomm.net9.aks.mongo.orderdb:
    image: mongo:latest
    container_name: ecomm.net9.aks.mongo.orderdb
    hostname: ecomm.net9.aks.mongo.orderdb
    restart: unless-stopped
    ports:
      - 27018:27017
    volumes:
      - ecomm.net9.aks.mongo.orderdb.storage:/var/lib/mongodb
      - ../eCommerce.OrderService/OrderService.Db.Script:/docker-entrypoint-initdb.d
    networks:
      - ecomm.net9.aks.mongo.orderdb.network

  ecomm.net9.aks.redis.cache:
    image: redis:latest
    container_name: ecomm.net9.aks.redis.cache
    hostname: ecomm.net9.aks.redis.cache
    restart: unless-stopped
    ports:
      - 6380:6379
    volumes:
      - ecomm.net9.aks.redis.cache.storage:/data
    networks:
      - ecomm.net9.aks.network

  net9-ecomm-userapi:
    image: net9-ecomm-userapi:2.0
    environment:
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTP_ENVIRONMENT=Development
      - POSTGRESDB_HOST=ecomm.net9.aks.pg.userdb
      - POSTGRESDB_PORT=5432
      - POSTGRESDB_NAME=eCommerceUsers
      - POSTGRESDB_USER=postgres
      - POSTGRESDB_PASSWORD=postgres
    ports:
      - "5000:9090"
    networks:
      - ecomm.net9.aks.network
      - ecomm.net9.aks.pg.userdb.network
    depends_on:
      - ecomm.net9.aks.pg.userdb

  net9-ecomm-productapi:
    image: net9-ecomm-productapi:2.0
    environment:
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_ENVIRONMENT=Development
      - MYSQL_HOST=ecomm.net9.aks.mysql.productdb
      - MYSQL_PORT=3306
      - MYSQL_DATABASE=eCommerceProducts
      - MYSQL_USER=mysqluser
      - MYSQL_PASSWORD=mysqlpassword
    ports:
      - "6000:8080"
    networks:
      - ecomm.net9.aks.network
      - ecomm.net9.aks.mysql.productdb.network
    depends_on:
      - ecomm.net9.aks.mysql.productdb

  net9-ecomm-orderapi:
    image: net9-ecomm-orderapi
    build:
      context: .
      dockerfile: OrderService.API/Dockerfile
    environment:
      - MONGODB_HOST=ecomm.net9.aks.mongo.orderdb
      - MONGODB_PORT=27017
      - MONGODB_DATABASE=OrdersDatabase
      - UserServiceName=net9-ecomm-userapi
      - UserServicePort=9090
      - ProductServiceName=net9-ecomm-productapi
      - ProductServicePort=8080
      - REDIS_HOST=ecomm.net9.aks.redis.cache
      - REDIS_PORT=6379
    ports:
      - "7000:8080"
    networks:
      - ecomm.net9.aks.network
      - ecomm.net9.aks.mongo.orderdb.network
    depends_on:
      - ecomm.net9.aks.mongo.orderdb

volumes:
  ecomm.net9.aks.pg.userdb.storage:
  ecomm.net9.aks.mysql.productdb.storage:
  ecomm.net9.aks.mongo.orderdb.storage:
  ecomm.net9.aks.redis.cache.storage:

networks:
  ecomm.net9.aks.network:
    name: ecomm.net9.aks.network
    driver: bridge
  ecomm.net9.aks.pg.userdb.network:
    name: ecomm.net9.aks.pg.userdb.network
    driver: bridge
  ecomm.net9.aks.mysql.productdb.network:
    name: ecomm.net9.aks.mysql.productdb.network
    driver: bridge
  ecomm.net9.aks.mongo.orderdb.network:
    name: ecomm.net9.aks.mongo.orderdb.network
    driver: bridge
