services:
  ecommerce.aks.userdb:
    image: postgres
    container_name: ecommerce.aks.userdb
    restart: always
    ports:
      - "5433:5432"
    volumes:
      - ecommerce.aks.userdb:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=eCommerceUsers
    networks:
      - ecommerce.aks.network

  ecommerce.aks.productdb:
    image: mysql:latest
    container_name: ecommerce.aks.productdb
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: mysql-secret-pw
      MYSQL_DATABASE: eCommerceProducts
      MYSQL_USER: mysqluser
      MYSQL_PASSWORD: mysqlpassword
    ports:
      - 3306:3306
    volumes:
      - ecommerce.aks.productdb:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d
    networks:
      - ecommerce.aks.network
    hostname: ecommerce.aks.mysqldb.products

  ecommerce.aks.orderdb:
    image: mongo:latest
    container_name: ecommerce.aks.orderdb
    restart: unless-stopped
    ports:
      - 27018:27017
    volumes:
      - ecommerce.aks.orderdb:/var/lib/mongodb
      - C:/Mehul/Personal.Learning.Code.Repo/MongoData/:/docker-entrypoint-initdb.d
    networks:
      - ecommerce.aks.network

volumes:
  ecommerce.aks.userdb:
  ecommerce.aks.productdb:
  ecommerce.aks.orderdb:
networks:
  ecommerce.aks.network:
    name: ecommerce.aks.network
    driver: bridge
