services:
  ecomm.net9.aks.userdb:
    image: postgres
    container_name: ecomm.net9.aks.pg.userdb
    hostname: ecomm.net9.aks.pg.userdb
    restart: always
    ports:
      - "5433:5432"
    volumes:
      - ecomm.net9.aks.pg.userdb:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=ecomm.net9Users
    networks:
      - ecomm.net9.aks.network

  ecomm.net9.aks.productdb:
    image: mysql:latest
    container_name: ecomm.net9.aks.productdb
    hostname: ecomm.net9.aks.mysqldb.products
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: mysql-secret-pw
      MYSQL_DATABASE: ecomm.net9Products
      MYSQL_USER: mysqluser
      MYSQL_PASSWORD: mysqlpassword
    ports:
      - 3306:3306
    volumes:
      - ecomm.net9.aks.productdb:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d
    networks:
      - ecomm.net9.aks.network

  ecomm.net9.aks.orderdb:
    image: mongo:latest
    container_name: ecomm.net9.aks.orderdb
    restart: unless-stopped
    ports:
      - 27018:27017
    volumes:
      - ecomm.net9.aks.orderdb:/var/lib/mongodb
      - C:/Mehul/Personal.Learning.Code.Repo/MongoData/:/docker-entrypoint-initdb.d
    networks:
      - ecomm.net9.aks.network

volumes:
  ecomm.net9.aks.userdb:
  ecomm.net9.aks.productdb:
  ecomm.net9.aks.orderdb:

networks:
  ecomm.net9.aks.network:
    name: ecomm.net9.aks.network
    driver: bridge
