services:
  ecommerce.userdb:
    image: postgres
    container_name: ecommerce.userdb
    restart: always
    ports:
      - "5433:5432"
    volumes:
      - ecommerce_userdb:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=eCommerceUsers
    networks:
      - ecommerce_network

  ecommerce.productdb:
    image: mysql:latest
    container_name: ecommerce.productdb
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: mysql-secret-pw
      MYSQL_DATABASE: eCommerceProducts
      MYSQL_USER: mysqluser
      MYSQL_PASSWORD: mysqlpassword
    ports:
      - "3306:3306"
    volumes:
      - ecommerce_productdb:/var/lib/mysql
    networks:
      - ecommerce_network

volumes:
  ecommerce_userdb:
  ecommerce_productdb:

networks:
  ecommerce_network:
    name: ecommerce_network
    driver: bridge
