services:
  ecommerce.aks.productdb:
    image: mysql:latest
    container_name: ecommerce.aks.productdb
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: mysql-secret-pw
      MYSQL_DATABASE: eCommerceProducts
      MYSQL_USER: mysqluser
      MYSQL_PASSWORD: mysqlpassword
    ports:
      - 3306:3306
    volumes:
      - ecommerce.aks.productdb:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d
    networks:
      - ecommerce.aks.network
    hostname: ecommerce.aks.mysqldb.products

  ecommerce.aks.product.service:
    image: ghcr.io/pandyamehul/net9-ecomm-productapi:1.0
    container_name: ecommerce.aks.product.service
    restart: unless-stopped
    environment:
      MYSQL_HOST: ecommerce.aks.mysqldb.products
      MYSQL_USER: mysqluser
      MYSQL_PASSWORD: mysqlpassword
      MYSQL_DATABASE: eCommerceProducts
    ports:
      - 8080:8080
    depends_on:
      - ecommerce.aks.productdb
    networks:
      - ecommerce.aks.network

volumes:
  ecommerce.aks.productdb:

networks:
  ecommerce.aks.network:
    name: ecommerce.aks.network
    driver: bridge
